:root {
  --darkgreen: rgba(0, 108, 71, 1);
  --bg-01: rgba(247, 248, 250, 1);
  --bg-02: rgba(235, 244, 243, 1);
  --bg-03: rgba(238, 241, 244, 1);
  --bg-04: rgba(170, 170, 170, 1);
  --divider: rgba(237, 239, 241, 1);
  --buttongrey: rgba(223, 228, 236, 1);
  --buttontext: rgba(117, 117, 117, 1);
  --blue: rgba(75, 126, 255, 1);
  --opacity-15: rgba(0, 0, 0, 0.15);
  --opacity-60: rgba(0, 0, 0, 0.6);
  --wh-opacity-35: rgba(255, 255, 255, 0.35);
  --red: rgba(236, 73, 56, 1);
  --effectopacity-40: rgba(0, 0, 0, 0.4);
  --wireframescolorstext-legibilityhigh-emphasis: rgba(23, 14, 43, 1);
  --text-01-font-family: "NanumSquareNeo-Bold", Helvetica;
  --text-01-font-weight: 700;
  --text-01-font-size: 16px;
  --text-01-letter-spacing: -0.32px;
  --text-01-line-height: 100%;
  --text-01-font-style: normal;
  --text-02-font-family: "NanumSquareNeo-Bold", Helvetica;
  --text-02-font-weight: 700;
  --text-02-font-size: 14px;
  --text-02-letter-spacing: -0.42px;
  --text-02-line-height: 100%;
  --text-02-font-style: normal;
  --text-03-EB-font-family: "NanumSquareNeo-ExtraBold", Helvetica;
  --text-03-EB-font-weight: 800;
  --text-03-EB-font-size: 12px;
  --text-03-EB-letter-spacing: -0.36px;
  --text-03-EB-line-height: 100%;
  --text-03-EB-font-style: normal;
  --text-03b-font-family: "NanumSquareNeo-Bold", Helvetica;
  --text-03b-font-weight: 700;
  --text-03b-font-size: 12px;
  --text-03b-letter-spacing: -0.24px;
  --text-03b-line-height: 100%;
  --text-03b-font-style: normal;
  --tag-01-font-family: "NanumSquareNeo-ExtraBold", Helvetica;
  --tag-01-font-weight: 800;
  --tag-01-font-size: 10px;
  --tag-01-letter-spacing: -0.3px;
  --tag-01-line-height: 100%;
  --tag-01-font-style: normal;
  --text-02eb-font-family: "NanumSquareNeo-ExtraBold", Helvetica;
  --text-02eb-font-weight: 800;
  --text-02eb-font-size: 14px;
  --text-02eb-letter-spacing: -0.42px;
  --text-02eb-line-height: 100%;
  --text-02eb-font-style: normal;
  --text-01-EB-font-family: "NanumSquareNeo-ExtraBold", Helvetica;
  --text-01-EB-font-weight: 800;
  --text-01-EB-font-size: 16px;
  --text-01-EB-letter-spacing: -0.32px;
  --text-01-EB-line-height: 100%;
  --text-01-EB-font-style: normal;
  --android-body-large-font-family: "Roboto-Regular", Helvetica;
  --android-body-large-font-weight: 400;
  --android-body-large-font-size: 40px;
  --android-body-large-letter-spacing: 0.5px;
  --android-body-large-line-height: 24px;
  --android-body-large-font-style: normal;
  --android-title-medium-font-family: "Roboto-Medium", Helvetica;
  --android-title-medium-font-weight: 500;
  --android-title-medium-font-size: 16px;
  --android-title-medium-letter-spacing: 0.15000000596046448px;
  --android-title-medium-line-height: 24px;
  --android-title-medium-font-style: normal;
  --custom-button-1-font-family: "Inter-Bold", Helvetica;
  --custom-button-1-font-weight: 700;
  --custom-button-1-font-size: 16px;
  --custom-button-1-letter-spacing: 0px;
  --custom-button-1-line-height: 24px;
  --custom-button-1-font-style: normal;
  --ios-headline-font-family: "SFPro-Bold", Helvetica;
  --ios-headline-font-weight: 700;
  --ios-headline-font-size: 17px;
  --ios-headline-letter-spacing: 0px;
  --ios-headline-line-height: 24px;
  --ios-headline-font-style: normal;
  --custom-button-2-font-family: "Inter-Bold", Helvetica;
  --custom-button-2-font-weight: 700;
  --custom-button-2-font-size: 14px;
  --custom-button-2-letter-spacing: 0px;
  --custom-button-2-line-height: 20px;
  --custom-button-2-font-style: normal;
  --custom-link-1-font-family: "Inter-Bold", Helvetica;
  --custom-link-1-font-weight: 700;
  --custom-link-1-font-size: 16px;
  --custom-link-1-letter-spacing: 0px;
  --custom-link-1-line-height: 24px;
  --custom-link-1-font-style: normal;
  --custom-link-2-font-family: "Inter-Bold", Helvetica;
  --custom-link-2-font-weight: 700;
  --custom-link-2-font-size: 14px;
  --custom-link-2-letter-spacing: 0px;
  --custom-link-2-line-height: 20px;
  --custom-link-2-font-style: normal;
  --android-label-medium-font-family: "Roboto-Medium", Helvetica;
  --android-label-medium-font-weight: 500;
  --android-label-medium-font-size: 12px;
  --android-label-medium-letter-spacing: 0.5px;
  --android-label-medium-line-height: 16px;
  --android-label-medium-font-style: normal;
  --custom-body-1-font-family: "Inter-Regular", Helvetica;
  --custom-body-1-font-weight: 400;
  --custom-body-1-font-size: 16px;
  --custom-body-1-letter-spacing: 0px;
  --custom-body-1-line-height: 24px;
  --custom-body-1-font-style: normal;
  --custom-caption-font-family: "Inter-Regular", Helvetica;
  --custom-caption-font-weight: 400;
  --custom-caption-font-size: 12px;
  --custom-caption-letter-spacing: 0px;
  --custom-caption-line-height: 16px;
  --custom-caption-font-style: normal;
  --ios-body-font-family: "SFPro-Regular", Helvetica;
  --ios-body-font-weight: 400;
  --ios-body-font-size: 17px;
  --ios-body-letter-spacing: 0px;
  --ios-body-line-height: 24px;
  --ios-body-font-style: normal;
  --ios-caption-1-font-family: "SFPro-Regular", Helvetica;
  --ios-caption-1-font-weight: 400;
  --ios-caption-1-font-size: 12px;
  --ios-caption-1-letter-spacing: 0px;
  --ios-caption-1-line-height: 16px;
  --ios-caption-1-font-style: normal;
  --android-body-small-font-family: "Roboto-Regular", Helvetica;
  --android-body-small-font-weight: 400;
  --android-body-small-font-size: 12px;
  --android-body-small-letter-spacing: 0px;
  --android-body-small-line-height: 16px;
  --android-body-small-font-style: normal;
  --shadow: 7px 8px 16px 0px rgba(0, 0, 0, 0.1);
  --shadow-m: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
  --shadow-s: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
  --variable-collection-gr-bg: rgba(235, 244, 243, 1);
  --variable-collection-stroke-line: rgba(0, 0, 0, 0.15);
  --variable-collection-list-TEXT: rgba(86, 91, 92, 1);
  --variable-collection-BK: rgba(0, 0, 0, 1);
  --variable-collection-gray: rgba(189, 189, 189, 1);
  --variable-collection-LT-gray: rgba(250, 250, 250, 1);
  --variable-collection-dark-gray: rgba(169, 169, 169, 1);
  --variable-collection-WH: rgba(255, 255, 255, 1);
  --variable-collection-main: rgba(0, 108, 71, 1);
  --variable-collection-red: rgba(242, 91, 91, 1);
  --variable-collection-co-01: rgba(9, 164, 172, 1);
  --variable-collection-green: rgba(132, 202, 78, 1);
  --primitives-grey-white: rgba(255, 255, 255, 1);
  --primitives-grey-grey-500: rgba(117, 117, 117, 1);
  --primitives-grey-grey-700: rgba(51, 51, 51, 1);
  --primitives-grey-black: rgba(0, 0, 0, 1);
  --primitives-grey-grey-300: rgba(203, 203, 203, 1);
  --primitives-grey-grey-600: rgba(84, 84, 84, 1);
  --primitives-purple-purple-500: rgba(126, 73, 255, 1);
  --primitives-purple-purple-600: rgba(118, 48, 247, 1);
  --primitives-purple-purple-700: rgba(104, 30, 227, 1);
  --primitives-grey-grey-200: rgba(226, 226, 226, 1);
  --primitives-grey-grey-800: rgba(31, 31, 31, 1);
  --primitives-grey-grey-900: rgba(20, 20, 20, 1);
  --primitives-grey-grey-400: rgba(175, 175, 175, 1);
  --primitives-red-red-500: rgba(255, 44, 32, 1);
  --primitives-grey-grey-50: rgba(246, 246, 246, 1);
  --primitives-grey-grey-100: rgba(238, 238, 238, 1);
  --tokens-button-secondary-button-secondary-text-color: var(--primitives-grey-white);
  --tokens-button-secondary-button-secondary-disabled-text-color: var(--primitives-grey-grey-500);
  --tokens-button-primary-button-primary-text-color: var(--primitives-grey-white);
  --tokens-button-primary-button-primary-disabled-text-color: var(--primitives-grey-grey-500);
  --tokens-button-tertiary-button-tertiary-text-color: var(--primitives-grey-black);
  --tokens-button-tertiary-button-tertiary-disabled-text-color: var(--primitives-grey-grey-300);
  --tokens-button-ghost-button-ghost-default-color: var(--primitives-purple-purple-500);
  --tokens-button-ghost-button-ghost-hover-color: var(--primitives-purple-purple-600);
  --tokens-button-ghost-button-ghost-pressed-color: var(--primitives-purple-purple-700);
  --tokens-button-ghost-button-ghost-disabled-color: var(--primitives-grey-grey-200);
  --tokens-button-secondary-button-secondary-default-background-color: var(--primitives-grey-grey-800);
  --tokens-button-secondary-button-secondary-hover-background-color: var(--primitives-grey-grey-700);
  --tokens-button-secondary-button-secondary-pressed-background-color: var(--primitives-grey-grey-600);
  --tokens-button-secondary-button-secondary-disabled-background-color: var(--primitives-grey-grey-200);
  --tokens-button-primary-button-primary-default-background-color: var(--primitives-purple-purple-500);
  --tokens-button-primary-button-primary-hover-background-color: var(--primitives-purple-purple-600);
  --tokens-button-primary-button-primary-pressed-background-color: var(--primitives-purple-purple-700);
  --tokens-button-primary-button-primary-disabled-background-color: var(--primitives-grey-grey-200);
  --tokens-button-tertiary-button-tertiary-border-color: var(--primitives-grey-grey-200);
  --tokens-button-tertiary-button-tertiary-hover-background-color: var(--primitives-grey-grey-200);
  --tokens-button-tertiary-button-tertiary-disabled-border-color: var(--primitives-grey-grey-200);
  --tokens-text-field-text-field-text-color: var(--primitives-grey-grey-500);
  --tokens-text-field-search-field-text-color: var(--primitives-grey-grey-500);
  --tokens-text-field-disabled-field-text-color: var(--primitives-grey-grey-300);
  --tokens-text-field-text-field-text-input-color: var(--primitives-grey-black);
  --tokens-text-field-error-field-text-color: var(--primitives-red-red-500);
  --tokens-text-field-error-field-input-color: var(--primitives-grey-black);
  --tokens-text-field-success-field-input-color: var(--primitives-grey-black);
  --tokens-text-field-text-field-background-color: var(--primitives-grey-white);
  --tokens-text-field-text-field-border-standard-color: var(--primitives-grey-grey-200);
  --tokens-text-field-text-field-border-hover-color: var(--primitives-grey-grey-400);
  --tokens-text-field-text-field-border-pressed-color: var(--primitives-grey-black);
  --tokens-text-field-search-field-background-color: var(--primitives-grey-grey-50);
  --tokens-text-field-search-field-background-hover-color: var(--primitives-grey-grey-100);
  --tokens-text-field-search-field-background-pressed-color: var(--primitives-grey-grey-200);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-tokens-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

/* [data-tokens-mode="light"] {
  --tokens-button-secondary-button-secondary-text-color: var(--primitives-grey-white);
  --tokens-button-secondary-button-secondary-disabled-text-color: var(--primitives-grey-grey-500);
  --tokens-button-tertiary-button-tertiary-text-color: var(--primitives-grey-black);
  --tokens-button-tertiary-button-tertiary-disabled-text-color: var(--primitives-grey-grey-300);
  --tokens-button-secondary-button-secondary-default-background-color: var(--primitives-grey-grey-800);
  --tokens-button-secondary-button-secondary-hover-background-color: var(--primitives-grey-grey-700);
  --tokens-button-secondary-button-secondary-pressed-background-color: var(--primitives-grey-grey-600);
  --tokens-button-secondary-button-secondary-disabled-background-color: var(--primitives-grey-grey-200);
  --tokens-button-primary-button-primary-disabled-background-color: var(--primitives-grey-grey-200);
  --tokens-button-tertiary-button-tertiary-border-color: var(--primitives-grey-grey-200);
  --tokens-button-tertiary-button-tertiary-hover-background-color: var(--primitives-grey-grey-200);
  --tokens-button-tertiary-button-tertiary-disabled-border-color: var(--primitives-grey-grey-200);
  --tokens-text-field-search-field-text-color: var(--primitives-grey-grey-500);
  --tokens-text-field-disabled-field-text-color: var(--primitives-grey-grey-300);
  --tokens-text-field-text-field-text-input-color: var(--primitives-grey-black);
  --tokens-text-field-error-field-input-color: var(--primitives-grey-black);
  --tokens-text-field-success-field-input-color: var(--primitives-grey-black);
  --tokens-text-field-text-field-background-color: var(--primitives-grey-white);
  --tokens-text-field-text-field-border-standard-color: var(--primitives-grey-grey-200);
  --tokens-text-field-text-field-border-pressed-color: var(--primitives-grey-black);
  --tokens-text-field-search-field-background-color: var(--primitives-grey-grey-50);
  --tokens-text-field-search-field-background-hover-color: var(--primitives-grey-grey-100);
  --tokens-text-field-search-field-background-pressed-color: var(--primitives-grey-grey-200);
}

[data-tokens-mode="dark"] {
  --tokens-button-secondary-button-secondary-text-color: var(--primitives-grey-grey-500);
  --tokens-button-secondary-button-secondary-disabled-text-color: var(--primitives-grey-grey-700);
  --tokens-button-tertiary-button-tertiary-text-color: var(--primitives-grey-white);
  --tokens-button-tertiary-button-tertiary-disabled-text-color: var(--primitives-grey-grey-600);
  --tokens-button-secondary-button-secondary-default-background-color: var(--primitives-grey-grey-700);
  --tokens-button-secondary-button-secondary-hover-background-color: var(--primitives-grey-grey-800);
  --tokens-button-secondary-button-secondary-pressed-background-color: var(--primitives-grey-grey-900);
  --tokens-button-secondary-button-secondary-disabled-background-color: var(--primitives-grey-grey-700);
  --tokens-button-primary-button-primary-disabled-background-color: var(--primitives-grey-grey-700);
  --tokens-button-tertiary-button-tertiary-border-color: var(--primitives-grey-grey-600);
  --tokens-button-tertiary-button-tertiary-hover-background-color: var(--primitives-grey-grey-600);
  --tokens-button-tertiary-button-tertiary-disabled-border-color: var(--primitives-grey-grey-600);
  --tokens-text-field-search-field-text-color: var(--primitives-grey-grey-400);
  --tokens-text-field-disabled-field-text-color: var(--primitives-grey-grey-600);
  --tokens-text-field-text-field-text-input-color: var(--primitives-grey-white);
  --tokens-text-field-error-field-input-color: var(--primitives-grey-white);
  --tokens-text-field-success-field-input-color: var(--primitives-grey-white);
  --tokens-text-field-text-field-background-color: var(--primitives-grey-black);
  --tokens-text-field-text-field-border-standard-color: var(--primitives-grey-grey-600);
  --tokens-text-field-text-field-border-pressed-color: var(--primitives-grey-white);
  --tokens-text-field-search-field-background-color: var(--primitives-grey-grey-700);
  --tokens-text-field-search-field-background-hover-color: var(--primitives-grey-grey-600);
  --tokens-text-field-search-field-background-pressed-color: var(--primitives-grey-grey-500);
}
 */