<!DOCTYPE html>
<html leng="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" name="viewport" content="user-scalable=no" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="css/globals.css" />
<link rel="stylesheet" href="css/styleguide.css" />
<link rel="stylesheet" href="css/style.css" />
<title>Join</title>
</head>
<body>
	<form id="registerForm" action="/joinuser" method="post">
		<div class="element-sign-in">
			<div class="div">
				<div class="overlap-join">
					<div class="input-join">	
							<h4>
								<label for="email">이메일</label>
							</h4>
							<div class="text-field-3">
								<input type="text" th:value="${email1}" id="email-id" class="text-3" maxlength="50"><h3>@</h3>
								<div class="text-field-4"><input type="text" th:value="${email2}" id="email-txt" class="text-5" maxlength="50"></div>
								<select class="select-box" id="email-domain">
									<option value="type">직접 입력</option>
									<option value="naver.com">naver.com</option>
									<option value="gmail.com">gmail.com</option>
									<option value="hanmail.net">hanmail.net</option>
									<option value="nate.com">nate.com</option>
									<option value="kakao.com">kakao.com</option>
								</select>
							</div>
							<div>
								<span class="error_msg"></span>
								<button class="check-button" onclick="checkDuplicate()" type="button">중복확인</button>
							</div>
							<h4>
								<label for="password">비밀번호</label>
							</h4>
							<div class="text-field">
								<input type="password" id="password" name="password" class="text-3" oninput="pwCheck()" maxlength="20">
							</div>
							<span class="text-2">영문 대소문자,숫자,특수문자 포함 8글자 이상</span>
						
							<h4>
								<label for="checkpw">비밀번호 확인</label>
							</h4>
							<div class="text-field">
								<input type="password" id="checkpw" class="text-3" oninput="pwCheck()" maxlength="20">
							</div>
							<span id="pwCheck"></span>
							<span class="error_msg_checkpw"></span>
						
							<h4>
								<label for="username">이름</label>
							</h4>
							<div class="text-field">
								<input type="text" id="username" name="username" class="text-3" maxlength="20">
							</div>
							<span class="error_msg_username"></span>
						
							<h4>
								<label for="gender">성별</label>
							</h4>
							<div class="radio-button">
								<input type="radio" id="gender-man" value="남" class="text" name="gender" checked>
								<label for="gender-man" class="text-5">남</label>
								<input type="radio" id="gender-woman" value="여" class="text" name="gender">
								<label for="gender-woman" class="text-5">여</label>
							</div>
							<span class="error_msg_gender"></span>
						
							<h4>
								<label for="birth">생년월일</label>
							</h4>
							<div class="text-field-3">
								<input type="date" id="birth" name="birth" value="1980-01-01" class="text-3" maxlength="10">
							</div>
							<span class="error_msg_birth"></span>
						
							<h4>
								<label for="hospital">병원</label>
							</h4>
							<div class="text-field">
								<input type="text" id="hospital" name="hospital" class="text-3" maxlength="30">
							</div>
							<span class="error_msg_hospital"></span>
							
							<div class="button-join">
								<button id="submitButton" type="button" onclick="submitData()"><img class="image" src="img/btn_join.png" /></button>
							</div>
					</div>
					
					<div class="p-join">
						<label class="join" for="hospital">회원가입</label>
					</div>
					<img class="medieyelogo" src="img/medieye_logo.png" />
				</div>	
			</div>
		</div>
		<div>
			<input type="hidden" name="snsType" th:value="${param.snsType}">
			<input type="hidden" name="snsId" th:value="${param.snsId}">
		</div>
		
	</form>
</body>
<script th:inline="javascript" >

//도메인 직접 입력 or domain option 선택
var domainListEl = document.querySelector('#email-domain')
var domainInputEl = document.querySelector('#email-txt')
// select 옵션 변경 시
domainListEl.addEventListener('change', (event) => {
  // option에 있는 도메인 선택 시
  if(event.target.value !== "type") {
    // 선택한 도메인을 input에 입력하고 disabled
    domainInputEl.value = event.target.value
    domainInputEl.disabled = true
  } else { // 직접 입력 시
    // input 내용 초기화 & 입력 가능하도록 변경
    domainInputEl.value = ""
    domainInputEl.disabled = false
  }
})

var email = null;
/* var password = document.getElementById('password').value;
var username = document.getElementById('username').value;
var birth = document.getElementById('birth').value;
var hospital = document.getElementById('hospital').value; */

function checkDuplicate() {
	
	var email1 = document.getElementById('email-id').value;
	var email2 = document.getElementById('email-txt').value;
	var userInput = email1 + '@' + email2;

	
	$.ajax({
        type: 'POST',
        url: '/checkEmail',
        data: {"userInput": userInput},
        
        success: function(data) {
        	if($('#email-id').val().trim()===''){
        		alert('이메일을 입력해 주세요.');
        	}else{
        		if (data) {
	                alert('사용 가능한 이메일입니다.');
	                email = userInput;
	                console.log(email);
	            } else {
	                alert('이미 시용중인 이메일입니다.');
	                $('email-id').value='';
	            }
        	}
        },
        error: function(request, status, error) {
            alert('실행오류');
            alert('code:' + request.status + '\n' + 'error' + error);
        	console.error('오류:', error);
        }
    });
}

function submitData() {
	var formData = new FormData(document.getElementById('registerForm'));
	console.log('gender:', $('input[name="gender"]:checked').val());
	console.log('email:', email);

	// 비밀번호 검증
	var inputPw = $('#password').val();
	var regex = /^[A-Za-z\d!@#$%^&*()_+]{8,}$/;
	
	// 비어있는 값 체크
	switch(true) {
	case ($('#email-id').val().trim()==='' || $('#email-txt').val().trim()===''):
		alert('Email을 입력해주세요.');
		break;
	case (!regex.test(inputPw)):
		$('#password').val('');
    	$('#checkpw').val('');
    	alert('영문 대소문자,숫자,특수문자 포함 8글자 이상의 비밀번호를 입력하세요.');
    	break;
	case ($('#password').val().trim()===''):
		alert('비밀번호를 입력해주세요.');
		break;
	case ($('#username').val().trim()===''):
		alert('이름을 입력해주세요.');
		break;
	case ($('#hospital').val().trim()===''):
		alert('병원이름을 입력해주세요.');
		break;
	default:
		if(email != null){
			// 서버로 폼 전송
			
            formData.append('email', email);
            for (const pair of formData.entries()) {
                console.log(pair[0] + ', ' + pair[1]);
            }
			var xhr = new XMLHttpRequest();
			xhr.open('POST','/joinuser',true);
			xhr.send(formData);
			alert('가입이 완료되었습니다.');
			window.location.href = '/login';
		}else{
			alert('이메일 중복확인을 해주세요.');
		}
	}
	
}

function pwCheck() {
	if($('#password').val() == $('#checkpw').val()){
		$('#pwCheck').text('');
	}else{
		$('#pwCheck').text('비밀번호가 일치하지 않습니다.').css('color','red')
	}
}
</script>
</html>